
// url link
.link {
    color: #085ef9;
    text-decoration: underline;
}

.link:hover {
    cursor: pointer;
}

.button {
    font-size: 20px;
    width: 100px;
}

.textbox {
    height: 25px;
    margin: 10px;
    width: 300px;
}
