
@import 'reset';


//
// GLOBALS
//

html,
body {
    height: 100%;
}

body {
    background: #444;
    font: 500 16px Avenir, sans-serif;
    line-height: 1;
}

a {
    color: inherit;
}

//
// INTRO
//

.intro {
    background-color: #5a2222;
    background-size: cover;
    height: 100%;
    position: relative;
    text-align: center;
    width: 100%;
}

.intro-pitch {
    display: table;
    height: 100%;
    line-height: 2.5em;
    margin: 0 auto;
    max-width: 1080px;
    position: relative;
    vertical-align: middle;
    width: 100%;
    z-index: 30;

    h2 {
        color: #fff;
        font-size: 55px;
        font-weight: normal;
        line-height: 1.3em;
        padding: 0 10%;
    }

    p {
        color: rgba(255, 255, 255, .7);
        display: block;
        font-size: 20px;
        font-weight: normal;
        line-height: 100%;
        margin-bottom: 1.3em;
    }

    .avatar {
        border-radius: 50%;
        box-shadow: 1px 1px 8px rgba(0, 0, 0, .5);
    }
}

.intro-inner {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.intro-pitch-inner {
    display: table-cell;
    vertical-align: middle;

    table {
        border: 1px solid;
        color: #fff;
        font-size: 15px;
        line-height: 1.6em;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        opacity: .9;
        padding: 5px;
        text-align: left;
        width: 50%;

        th {
            border-bottom: 1px solid;
            padding-bottom: 2px;
        }
    }
}

