
//
// GLOBALS
//

html,
body {
    height: 100%;
}

body {
    background-color: #555; // #5a2222; // #444
    color: #fff;
    font: 500 16px Avenir, sans-serif;
    line-height: 1;
    text-align: center;
}

a {
    color: inherit;
}

h1 {
    font-size: 23px;
    font-weight: 400;
}

table {
    background-color: #7b7b7b;
    border: 1px solid;
    border-collapse: collapse; // Means we can have tr borders
    color: #fff;
    font-size: 15px;
    line-height: 1.6em;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    opacity: .9;
    padding: 5px;
    text-align: left;

    th,
    td {
        border-left: 1px solid;
        padding: 5px;
    }

    th {
        border-right: 1px solid;
        font-size: 12px;
        font-weight: normal;
    }

    tr {
        border-bottom: 1px solid #555;
    }

    tr:nth-child(even) {
        background-color: #656565;
    }
}

.icon-large {
    font-size: 40px !important;
}



//
// INTRO
//

.intro {
    background-size: cover;
    height: 100%;
    position: relative;
    text-align: center;
    width: 100%;
}

.intro-pitch {
    display: table;
    height: 100%;
    line-height: 2.5em;
    margin: 0 auto;
    max-width: 1080px;
    position: relative;
    vertical-align: middle;
    width: 100%;
    z-index: 30;

    h2 {
        font-size: 55px;
        font-weight: normal;
        line-height: 1.3em;
        padding: 0 10%;
    }

    p {
        display: block;
        font-size: 20px;
        font-weight: normal;
        line-height: 100%;
        margin-bottom: 1.3em;
    }

    .avatar {
        border-radius: 50%;
        box-shadow: 1px 1px 8px rgba(0, 0, 0, .5);
    }
}

.intro-inner {
    bottom: 0;
    left: 0;
    margin-top: 100px;
    position: absolute;
    right: 0;
    top: 0;
}

.intro-pitch-inner {
    display: table-cell;
    padding: 20px;
    vertical-align: middle;
}

// Added to sortable tables
#table-stats th:hover {
    cursor: pointer;
    opacity: .6;
}
